<p style="color: green"><%= notice %></p>

<h1 class="text-center">LLAMADAS</h1>

<div class="row mb-3 mt-3">

  <div class="col-md-6">

    <%= form_with method: :get do |form| %>

      <%= form.label :Busca_por_cliente_o_por_razon, style: "display: block" %>
      <br>
      <div class="input-group">
        <%= form.text_field :cadena, placeholder: 'Buscar una llamada', value: params[:query_text], class: 'form-control mr-2' %>
        <%= form.submit "Buscar", class: 'btn btn-primary', id: 'btn-custom' %>
      </div>

    <% end %>

  </div>

</div>

<% if @calls.count > 0 %>
<br>
<div id="calls">
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Motivo</th>
      <th>Fecha</th>
      <th>Ver</th>
    </tr>
  </thead>
  <% @calls.each do |call| %>
  <tbody>
    <tr>
      <td><%= call.user.email%></td>
      <td><%= call.client.name %></td>
      <td><%= call.reason.name %></td>
      <td><%= call.created_at %></td>
      <td><%= link_to "Ver llamada", call, class: 'btn btn-primary', id: 'btn-custom' %></td>
    </tr>
  </tbody>
  <% end %>
</table>  
</div>

<div class="pag-bar mt-3 pt-3">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>

<% else %>
  <h1>No hay resultados, inténtalo nuevamente</h1>
<% end %>

<%= link_to "New call", new_call_path, class: 'btn btn-primary', id: 'btn-custom' %>
