<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

<table class="table table-dark table-hover">

    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Operador</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    
  <tbody>
      <% client.calls.each do |call| %>
        <tr>
          <td scope="col"><%= call.reason.name %></td>
          <td scope="col"><%= call.user.email %></td>
          <td scope="col"><%= call.created_at %></td>
        </tr>
      <% end %>
    </tbody>

</table>

</div>
