<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :Buscar_por_nombre_o_por_email, style: "display: block" %>
  <%= form.text_field :cadena %>
  <%= form.submit "Buscar" %>
<% end %>

<% if @clients.count > 0 %>
<br>
<div id="clients">
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Ver Cliente</th>
        <th>Agregar llamada</th>
        <th>Editar cliente</th>
        <th>Eliminar cliente</th>
      </tr>
    </thead>
  <% @clients.each do |client| %>
    
    <tbody>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td>
          <%= link_to client do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to new_call_path do %>
            <i class="fa-solid fa-phone"></i>
          <% end %>
        </td>
        <td><%= link_to "Edit this client", edit_client_path(client) %></td>
        <td><%= button_to "Destroy this client", client, method: :delete %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>

<div class="text-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>

<% else %>
  <h1>No hay resultados, inténtalo nuevamente</h1>
<% end %>

<%= link_to "New client", new_client_path %>

